$color_orange: rgb(221, 150, 109);
$color_peach: rgba(216, 192, 146, 0.863);
$color_light_peach: rgba(221, 210, 187, 0.863);

.movies-page {
  background-image: url("../../assets/images/background2.jpg");
  background-color: #cccccc;
  min-height: 100vh;
  button {
    font-size: 14px;
    color: white;
    background-color: $color_peach;
    border: 1px solid $color_peach;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      color: $orange;
      background-color: $color_light_peach;
    }
  }
  .movies-list {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-radius: 10px;
        min-width: 300px;
        margin-bottom: 5px;
      }
    }
  }

  .global-search-container {
    margin-top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid grey;
    .search-bar {
      background-color: rgba(213, 243, 243);
      border: 1px solid rgba(194, 170, 127, 0.863);
      border-radius: 5px;
      outline-color: #d1d1d1;
    }
    h3 {
      margin-top: 0;
    }
  }

  .filter-age-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid grey;
    padding: 20px;
  }

  .sorted-movies-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid grey;
    h3 {
      margin-top: 0;
    }
  }

  .add-new-movie-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-new-movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      margin-bottom: 30px;
    }
    .inputs-new-movie {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        min-width: 200px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .sorted-by-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid grey;

    h3 {
      margin-top: 0;
    }
    button {
      margin-right: 8px;
      min-width: 80px;
    }
  }
}

.selected-item {
  background-color: rgba(213, 243, 243) !important;
  color: black !important;
}

.select-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  outline-color: #d1d1d1;
  background-color: rgba(213, 243, 243);
  border-color: rgba(194, 170, 127, 0.863);
  border-radius: 5px;
  option {
    text-align: left;
  }
}
