.movies-page {
  background-image: url("../../assets/images/background2.jpg");
  background-color: #cccccc;
  min-height: 100vh;
  button {
    font-size: 16px;
    color: white;
    background-color: rgba(216, 192, 146, 0.863);
    border: 1px solid rgba(194, 170, 127, 0.863);
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      color: rgb(221, 150, 109);
      background-color: rgba(221, 210, 187, 0.863);
    }
  }
  .movies-list {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-radius: 10px;
        min-width: 300px;
        margin-bottom: 5px;
      }
    }
  }

  .global-search-container {
    margin-top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid grey;

    h3 {
      margin-top: 0;
    }
  }

  .filter-age-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid grey;
    padding: 20px;
    .buttons-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
      button {
        margin-right: 5px;
        width: 140px;
      }
    }
  }

  .sorted-movies-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid grey;
    h3 {
      margin-top: 0;
    }
  }

  .add-new-movie-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-new-movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      margin-bottom: 30px;
    }
    .inputs-new-movie {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        min-width: 200px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .sorted-by-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid grey;

    h3 {
      margin-top: 0;
    }
    button {
      margin-right: 8px;
      min-width: 80px;
    }
  }
}

.selected-item {
  background-color: rgba(213, 243, 243) !important;
  color: black !important;
}
